.*

*.tsbuildinfo

!.gitignore
!.prettierignore
!.prettierrc
!.editorconfig
!.npmrc
!.eslintrc.json

node_modules/
out/
out-*/
generated/
coverage/

!.vscode/
!.github/
!.snaplet/
.snaplet/snapshots
.snaplet/structure.d.ts

.vercel
