.*
!.agents/
!.agents/skills/
!.agents/skills/**
!.env.example

*.tsbuildinfo

!.gitignore
!.editorconfig
!.npmrc

node_modules/
out/
out-*/
generated/
coverage/

!.vscode/
!.github/
!.snaplet/
.snaplet/snapshots
.snaplet/structure.d.ts

.vercel
prod-seed.sql

# Turborepo
.turbo
