@theme {
  /* Shadows */
  --shadow-tremor-input: var(--shadow-input);
  --shadow-tremor-card: var(--shadow-card);
  --shadow-tremor-dropdown: var(--shadow-dropdown);

  /* Border Radius */
  --radius-tremor-small: var(--radius-small);
  --radius-tremor-default: var(--radius-default);
  --radius-tremor-full: var(--radius-full);

  /* Typography Scale */
  --text-tremor-default: var(--text-default);
  --text-tremor-default--line-height: var(--text-default--line-height);
  --text-tremor-label: var(--text-label);
  --text-tremor-label--line-height: var(--text-label--line-height);

  /* Colors */
  --color-tremor-brand-faint: var(--color-brand-faint);
  --color-tremor-brand-muted: var(--color-brand-muted);
  --color-tremor-brand-subtle: var(--color-brand-subtle);
  --color-tremor-brand-default: var(--color-brand-default);
  --color-tremor-brand-emphasis: var(--color-brand-emphasis);
  --color-tremor-brand-inverted: var(--color-brand-inverted);

  --color-tremor-background-muted: var(--color-background-muted);
  --color-tremor-background-subtle: var(--color-background-subtle);
  --color-tremor-background-default: var(--color-background-default);
  --color-tremor-background-emphasis: var(--color-background-emphasis);

  --color-tremor-border-default: var(--color-border-default);
  --color-tremor-ring-default: var(--color-ring-default);

  --color-tremor-content-subtle: var(--color-content-subtle);
  --color-tremor-content-default: var(--color-content-default);
  --color-tremor-content-emphasis: var(--color-content-emphasis);
  --color-tremor-content-strong: var(--color-content-strong);
  --color-tremor-content-inverted: var(--color-content-inverted);
}

@layer utilities {
  :root {
    /* Shadow Tokens */
    --shadow-input: 0 1px 2px 0 oklch(0 0 0 / 0.05);
    --shadow-card: 0 1px 3px 0 oklch(0 0 0 / 0.1), 0 1px 2px -1px
      oklch(0 0 0 / 0.1);
    --shadow-dropdown: 0 4px 6px -1px oklch(0 0 0 / 0.1), 0 2px 4px -2px
      oklch(0 0 0 / 0.1);

    /* Border Radius Tokens */
    --radius-small: 0.375rem;
    --radius-default: 0.5rem;
    --radius-full: 9999px;

    /* Typography Scale Tokens */
    --text-default: 0.875rem;
    --text-default--line-height: 1.25rem;
    --text-label: 0.75rem;
    --text-label--line-height: 1rem;

    /* Light Colors Tokens */
    --color-brand-faint: var(--color-blue-50);
    --color-brand-muted: var(--color-blue-200);
    --color-brand-subtle: var(--color-blue-400);
    --color-brand-default: var(--color-blue-500);
    --color-brand-emphasis: var(--color-blue-700);
    --color-brand-inverted: var(--color-white);

    --color-background-muted: var(--color-gray-50);
    --color-background-subtle: var(--color-gray-100);
    --color-background-default: var(--color-white);
    --color-background-emphasis: var(--color-gray-700);

    --color-border-default: var(--color-gray-200);
    --color-ring-default: var(--color-gray-200);

    --color-content-subtle: var(--color-gray-400);
    --color-content-default: var(--color-gray-500);
    --color-content-emphasis: var(--color-gray-700);
    --color-content-strong: var(--color-gray-900);
    --color-content-inverted: var(--color-white);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark Colors Tokens */
      --color-brand-faint: #0b1229;
      --color-brand-muted: var(--color-blue-950);
      --color-brand-subtle: var(--color-blue-800);
      --color-brand-default: var(--color-blue-500);
      --color-brand-emphasis: var(--color-blue-400);
      --color-brand-inverted: var(--color-blue-950);

      --color-background-muted: #131a2b;
      --color-background-subtle: var(--color-gray-800);
      --color-background-default: var(--color-gray-900);
      --color-background-emphasis: var(--color-gray-300);

      --color-border-default: var(--color-gray-800);
      --color-ring-default: var(--color-gray-800);

      --color-content-subtle: var(--color-gray-600);
      --color-content-default: var(--color-gray-500);
      --color-content-emphasis: var(--color-gray-200);
      --color-content-strong: var(--color-gray-50);
      --color-content-inverted: var(--color-gray-950);
    }
  }
}
